.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: column;

  &__info {
    margin-left: 20px;
    padding-top: 20px;
  }

  &__message {
    display: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    font-size: larger;

    &.is-draw {
      display: block;
      background-color: rgb(255, 201, 101, .5);
    }

    &.is-winner {
      display: block;
      background-color: rgb(134, 255, 101, .5);
    }
  }
}