.square {
  background: none;
  color: #fff;
  border: 2px solid #cdc24e;
  float: left;
  font-size: 48px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  line-height: 100px;
  text-align: center;
  height: 28vw;
  width: 28vw;
  max-width: 100px;
  max-height: 100px;
  cursor: pointer;
}

.square:hover {
  background-color: rgb(232, 252, 232, .2);
}

.square.is-winner-square {
  background: rgba(184, 255, 140, .2);
}

.square:focus {
  outline: none;
}

.square:focus {
  
}