.square {
  background: rgba(0, 102, 43, .5);
  color: #fff;
  border: 2px solid #cdc24e;
  float: left;
  font-size: 48px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  line-height: 100px;
  text-align: center;
  height: 30vw;
  width: 30vw;
  min-width: 94px;
  min-height: 94px;
  max-width: 100px;
  max-height: 100px;
  cursor: pointer;
  transition: background .4s ease-in-out;

  @media (hover: hover) {
    &:hover {
      background-color: rgba(#cdc24e, .2);
    }
  }

  &:focus {
    outline: none;
  }

  &.is-winner-square {
    background: rgba(19, 170, 82, 1);
  }
}