body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #206b64;
  color: #fff;
}

ol, ul {
  padding-left: 30px;
}

.active {
  font-weight: bold;
}

.hidden {
  visibility: hidden;
}
